@charset "UTF-8"; //1.设置字符编码,支持中文注释。

.login{

    // text-align: center;
        .left{
            width: 50%;
            float: left;
            line-height: 474px;

            img{
                width: 465px;
                height: 352px;
                margin-top: 100px;
            }
        }        
        .right{
            width: 50%;
            float: right;
            height: 600px;

            .top{
                margin-top: 30px;
                line-height: 50px;

                h3{
                    float: left;
                    font-size: 20px;
                    color: #eee;
                }

                h4{
                    float: left;
                    margin-left: 60px;
                    font-size: 14px;

                    a{
                        color: red;
                    }
                }
        }

        .denglu{
            width: 500px;
            float: left;
            height: 362px;

            h2{
                line-height: 30px;
                margin-top: 15px;
                margin-left: 100px;
            }

            p{
                input{
                    width: 300px;
                    height: 45px;
                    border: 1px solid black;
                    margin-top: 25px;
                }
                span{
                    right: 0;
                }
            }

            .btn input{
                background-color: red;
                width: 300px;
                height: 45px;
                color: white;
                font-size: 28px;
                display: inline-block;
                line-height: 45px;
                margin-top: 15px;
                &:hover{
                    font-weight: 800;
                }
            }
        }
    }
}


